<template>
  <div class="editor flex" v-follow.master>
    <div class="line-state">
      <div v-for="line in lines" :key="line">
        {{line}}
      </div>
    </div>
    <div style="flex:1;">
      <div class="content" @input="change" contenteditable></div>
    </div>
  </div>
</template>

<script>
export default {
  model: {
    prop: "content",
    event: "change"
  },
  props: {
    content: String
  },
  methods: {
    change(event) {
      this.$emit("change", event.target.innerText);
    }
  },
  computed: {
    //总行数
    lines() {
      let arr = this.content.match(/\n/gim)
      let len =  arr ? arr.length + 1 : 1
      if (this.content.endsWith('\n')) {
        len--
      }
      return len
    }
  },
  created() {
    // this.$db.createArticle("hello!", `
    //   当用let声明一个变量，它使用的是词法作用域或块作用域。 不同于使用var声明的变量那样可以在包含它们的函数外访问，块作用域变量在包含它们的块或for循环之外是不能访问的。
    // `)
  }
};
</script>

<style scoped>
.editor {
  overflow-y: scroll;
  font-size: 1.2em;
  line-height: 1.5em;
}

.content {
  word-break: break-all;
  height: 100%;
  outline: none;
  background-color: inherit;
  -webkit-user-modify: read-write-plaintext-only;
}

.flex {
  display: flex;
  height: 100%;
}

.line-state {
  font-size: .6em;
  padding: 0 1em;
  text-align: right;
  background-color: #f3f3f3;
  min-width: 4em;
}
</style>
