<template>
  <v-navigation-drawer v-model="drawer" fixed>
    <v-container fill-height style="padding: 0;">
      <v-layout column :wrap="false">
        <h2>文章列表</h2>
        <div style="flex:1;overflow: auto;">
          <v-list class="pa-1">
            <template v-for="item in items">
              <v-list-tile :key="item.title">
                <v-list-tile-content>
                  <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                </v-list-tile-content>

                <v-list-tile-action>
                  <v-btn icon>
                    <v-icon>delete</v-icon>
                  </v-btn>
                </v-list-tile-action>
              </v-list-tile>

              <v-divider :key="'_' + item.title"></v-divider>
            </template>
          </v-list>
        </div>
        <div>
          <v-btn block flat>
            <v-icon color="red" left>add</v-icon>
            创建新文件
          </v-btn>
          <v-btn block flat>
            <v-icon color="red" left>share</v-icon>
            导出为md文件
          </v-btn>
          <v-btn block flat>
            <v-icon color="green" left>cloud_download</v-icon>
            导出为pdf文件
          </v-btn>
          <v-btn block flat>
            <v-icon color="green" left>info</v-icon>
            About
          </v-btn>
        </div>
      </v-layout>
    </v-container>
  </v-navigation-drawer>
</template>

<script>
import { openDB } from "idb"
export default {
  model: {
    prop: "show",
    event: "change"
  },
  props: ["show"],
  data() {
    return {
      drawer: null,
      items: [
        { title: "Home", icon: "dashboard" },
        { title: "About", icon: "question_answer" },
      ]
    };
  },
  watch: {
    drawer(val) {
      this.$emit("change", val);
    },
    show(val) {
      this.drawer = val;
    }
  },
  async created() {
    let db = await openDB('demo', 1, {
      upgrade(db, oldVersion, newVersion, transaction) {
        let person = db.createObjectStore('person', {
          autoIncrement: true,
        })

        person.createIndex('name', 'name', {unique: false})
        
      },
    })

    // const tx = db.transaction("person", "readwrite")
    // tx.store.put({
    //   name: "linda"
    // })
    let req = await db.getFromIndex('person', 'name', 'sam')
    console.log(req)
  }
};
</script>

<style scoped>
*::-webkit-scrollbar {
  display: none;
}

h2 {
  padding: 1em;
}
</style>
